* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d1c3e3;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

a {
    border: solid white;
    padding: 4px;
    margin: 4px;
    display: block;
    text-align: center;
}